body{
    background-color: skyblue;
    text-align: center; 
    font-size: 5rem;  
}

#div{
    display:grid;
    grid-template-columns:(4,1fr);
    font-size: 2rem;
}
#display{
    height: 50px;
    width: 400px;
    font-size: 30px;
}

.main{
        height:auto;
        width:auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
#btn{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    font-size: 3rem;
    color:red;
    background-color: orange;
    font-weight:bold;
    cursor:pointer;
}